#description {
	
	bottom: 0;
	float: right;
	padding: 10px;
	border: 1px solid gray;
	background-color: white;
	overflow: auto;
	height: 200px;
	width: 98%;
}





body{
	min-width: 1800px;
}
#content {
	overflow: auto;
}

.semester {
	text-align: center;
	background: none repeat scroll 0 0 #EFECE6;
	margin: 5px;
}

.semester>* {
	display: inline-block;
	/* 	margin: 10px 1px 10px 1px; top, right, bottom, left */
	margin-top: 10px;
	margin-bottom: 10px;
}

.semester > label {
	font-weight: bolder;
}

h1.pretty {
	color: #ff0000;
	text-align: center;
}

.socials {
	padding: 10px;
}

.dependencyBtn {
	border-radius: 15px; /*Sarok lekerekites*/
	background-image: none;
	margin-left: 1px;
	margin-right: 1px;
	color: black;
}

.semester > .dependencyBtn{
	height: 50px;
}

.dependencyBtn-standby {
	background-image: -moz-linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	background-image: -webkit-linear-gradient(top, #FFFFFF, #E6E6E6);
	background-image: -ms-linear-gradient(to bottom, #FFFFFF, #E6E6E6);
}

.dependencyBtn-forward99 { /*99 is for onlyRegistration dependencies*/
	background-color: #4c4cff;
}

.dependencyBtn-forward-99 {
	/*-99 is for onlyRegistration forward dependencies*/
	background-color: yellow;
}

.dependencyBtn-forward0 {
	background-color: gray;
}

.dependencyBtn-forward1 {
	background-color: #013a03;
	color: white !important;
}

.dependencyBtn-forward2 {
	background-color: #036105;
}

.dependencyBtn-forward3 {
	background-color: #048707;
}

.dependencyBtn-forward4 {
	background-color: #05ae09;
}

.dependencyBtn-forward5 {
	background-color: #1ec822;
}

.dependencyBtn-forward6 {
	background-color: #50d453;
}

.dependencyBtn-forward7 {
	background-color: #82e084;
}

.dependencyBtn-forward8 {
	background-color: #b4ecb5;
}

.dependencyBtn-forward-1 {
	color: white !important;
	background-color: #660000;
}

.dependencyBtn-forward-2 {
	background-color: #990000;
}

.dependencyBtn-forward-3 {
	background-color: #cc0000;
}

.dependencyBtn-forward-4 {
	background-color: #ff0000;
}

.dependencyBtn-forward-5 {
	background-color: #ff3232;
}

.dependencyBtn-forward-6 {
	background-color: #ff6666;
}

.dependencyBtn-forward-7 {
	background-color: #ff9999;
}

.dependencyBtn-forward-8 {
	background-color: #ffcccc;
}